<div class="card">
  <p-table
    [value]="sortedTours()"
    [(selection)]="selectedTours"
    (selectionChange)="onSelectionChange()"
    selectionMode="multiple"
    [metaKeySelection]="false"
    dataKey="id"
    [tableStyle]="{ 'min-width': '50rem' }">
    <ng-template #header>
      <tr>
        <th class="w-[20%]">ID</th>
        <th class="w-[15%]">Fahrzeugnummer</th>
        <th class="w-[25%]">Gestartet am</th>
        <th class="w-[25%]">Beendet am</th>
        <th class="w-[15%]">Anzahl Eimervisiten</th>
      </tr>
    </ng-template>

    <ng-template #body let-tour let-rowIndex="rowIndex">
      @let amountBinVisits = tour.binVisits.length;
      <tr [pSelectableRow]="tour"
          [pSelectableRowIndex]="rowIndex"
          [class]="rowClass(amountBinVisits)"
          [pSelectableRowDisabled]="amountBinVisits === 0">
        <td>{{ tour.id }}
          @if (latestTour().id === tour.id) {
            <p-chip class="ml-2 py-1 px-3 text-sm bg-red-200" label="Neueste" />
          }
        </td>
        <td>{{ tour.licensePlate }}</td>
        <td>{{ tour.startedAt | chDateTime }}</td>
        <td>{{ tour.endedAt | chDateTime }}</td> <!-- TODO a chip indicating automatic termination (01:00) might be great -->
        <td>{{ amountBinVisits }}</td>
      </tr>
    </ng-template>
  </p-table>
</div>

<google-map
  (zoomChanged)="canBeAligned = true"
  (centerChanged)="canBeAligned = true"
  height="50%"
  width="100%"
  [center]="center"
  [options]="mapOptions">

  @for (tour of tourPaths; track tour.tourId) {
    <map-polyline [path]="tour.path"
                  [options]="tour.options" />
  }

  @for (marker of markers; track marker.id) {
    <map-advanced-marker
      [position]="marker.position"
      [title]="marker.title"
      [content]="marker.content" />
  }
</google-map>

<p-button
  [disabled]="!canBeAligned"
  severity="secondary"
  (onClick)="alignMap()">
  Alignieren
</p-button>
