<p-card [header]="header()" class="relative">
  <div class="absolute inset-4 flex flex-col h-full min-h-64 items-center justify-center">
    @if (loading()) {
      <p-skeleton width="8rem" height="3.5rem" />
      <div class="mt-4 flex gap-2">
        <p-skeleton shape="circle" size="1.25rem" />
        <p-skeleton width="4rem" height="1.25rem" />
      </div>
    } @else {
      <div class="text-6xl font-extrabold tracking-tight">
        {{ value() }}
      </div>

      <div class="mt-4 flex items-center gap-2 text-lg font-semibold">
        <i [class]="'pi pi-' + trendIcon()"></i>
        <span>{{ formattedTrendValue() }}</span>
      </div>
    }
  </div>
</p-card>
