<p-card [header]="header()" class="relative">
  <div class="absolute inset-4 flex flex-col h-full min-h-64 items-center justify-center">
    <div class="mb-4 flex h-16 w-16 items-center justify-center rounded-2xl bg-red-500/15">
      <i [class]="'pi pi-' + icon() + ' text-3xl text-red-400'"></i>
    </div>

    @if (loading()) {
      <p-skeleton width="8rem" height="3.5rem" />
    } @else {
      <div class="text-6xl font-extrabold tracking-tight">
        @if (value() != null) {
          @if (percent()) {
            {{ value() | percent: '1.0-2' : 'de-CH' }}
          } @else {
            {{ value() | number: '1.0-2' : 'de-CH' }}
          }
        }
      </div>
    }
  </div>
</p-card>
